.main {
  padding: 20px 0 100px;
  background: #101113;
  min-height: 100vh;
  text-align: start;
}
.title {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}
.main h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
}
.sbt h2 {
  margin-bottom: 25px;
}
.sbt p,
.main p {
  margin: 20px 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
}
.main img {
  width: 100%;
}
.picture {
  margin: 20px 0;
}
.picture span {
  font-size: 7px;
}
.picture strong {
  color: #5451b0;
}
